*{
    margin: 0;
    padding: 0;
}
.main-window{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.main-content{
    display: flex;
    justify-content: center;
}
.nav-bar{
    width: 100%;
    text-align: left;
    font-size: 14px;   
}

.article-container{
    width: 50%;
}
.other-post-container{
    width: 30%;
    height: 100%;

}
#main-article{
    width: 600px;
}

nav{
    width: 100%;
    background-color:#2c5ba8;
}

nav ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0px;
    width: 500px;
    text-align: center;
}
nav > ul > li{
    display: inline;
    padding-left: 10%;

}

nav ul li a{
   color: white;
   line-height: 3em;
   text-decoration: none;
}

nav > ul > li a:hover{
    color: black;
    transition: 0.2s ease;

}

a:active{
    color: whitesmoke;
}
article{
    font-family: sans-serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5em;
}

#article1_image{
    width: inherit;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: left;
    font-size: 2rem;
}

.author{
    font-style: italic;
    font-size: 0.8rem;
    text-align: left;
}

.blog-link-1,.blog-link-2{
    padding: 30px;
    
}
.blog-link-1 a, .blog-link-2 a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-link-1 a:hover, .blog-link-2 a:hover{
    text-decoration: underline;
    color: darkblue;
}
.blog-link-2{
    clear: both;
}
.blog-link-1 ul{
    list-style-type: none;
}
.blog-link-1 ul li img{
    float: left;
}
.blog-link-2 ul{
    list-style-type: none;
}
.blog-link-2 ul li img{
    float: left;
}


 