body{
    background-color:rgb(235, 248, 250);
    margin: 10px auto;
}

.container{
    background-color: white ;
    width: 70%;
    margin-left: 15%;
}
.container > section{
        
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    align-self: center;

}

 article{
    font-family: sans-serif;
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5em;
}
img{
    width: inherit;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: left;
}

.date{
    font-style: italic;
    font-size: 1rem;
    text-align: left;

}
header > nav{
    background-color: rgba(26, 74, 145,0.8);
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    padding: 0%;
}
nav > ul > li {
     display: inline;
     font-size: 1.25rem;
     
 }
nav > ul{
     text-align: center;
     word-spacing: 10em;
 }
nav > ul > li > a{
    text-decoration: none;
}
 
a:link{
    color: rgb(200, 200, 200);
 }
nav > ul > li > a:hover{
     color: white;
     transition: 0.4s ease;
 }
  a:visited{
     color: black;
 }
  a:active{
     color: whitesmoke;
 }
 